@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

.wrapper {
    width: 100%;
    max-width: 1520px;
    margin: 0 auto;
}

h1 {
    font-weight: 600;
    font-size: clamp(36px, 4.5vw, 64px);
    line-height: 140%;
}

h2 {
    font-weight: 600;
    font-size: clamp(26px, 2.2vw, 32px);
}

.header {
    position: relative;
}

.header__container {
    display: flex;
    padding: 40px 0px;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}

.header__text {
    max-width: 260px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 132%;
    letter-spacing: 3px;
    color: #2C145E;
    text-transform: uppercase;
}

.main__last-new {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 646px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
}

.main__last-new * {
    z-index: 2;
    position: relative;
}

.main__last-new::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
}

.last-new__text {
    color: #fff;
    display: flex;
    flex-direction: column;
}

.last-new__text p {
    margin-top: 30px;
    text-align: left;
    font-weight: 400;
    font-size: clamp(18px, 2.2vw, 32px);
    line-height: 160%;
}

.news-board__title {
    margin: 55px 0px 59px 0px;
}

.news-board__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.news-board__item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.news-board__item__container {
    margin-bottom: 40px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.news-board__item--date,
.main__new--date {
    display: inline-block;
    border: 1px solid #ECF2F5;
    background-color: #ECF2F5;
    border-radius: 20px;
    padding: 6px 18px;
    margin-bottom: 30px;
}

.news-board__item--title {
    margin-bottom: 30px;
}

.news-board__item--announce {
    margin-bottom: 30px;
}

a.news-board__item--button,
a.main__back-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #9B407A;
    border-radius: 50px;
    padding: 16px 40px;
    text-transform: uppercase;
    text-decoration: none;
    color: #841844;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.2s ease-out;
}

a.news-board__item--button::after {
    display: inline-block;
    width: 30px;
    height: 22px;
    margin-left: 10px;
    content: "";
    background: url("../img/default_arrow.svg") no-repeat center center;
    background-size: contain;
}

.news-board__item__container:hover a.news-board__item--button {
    color: #fff;
    background-color: #841844;
    transition: all 0.2s ease-out;
}

.news-board__item__container:hover a.news-board__item--button::after {
    background: url("../img/active_arrow.svg") no-repeat center center;
}

.news-board__pagin {
    margin: 83px 0px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.pagin__item {
    display: inline-block;
    margin-right: 16px;
    padding: 16px 23px;
    border: 2px solid #841844;
    border-radius: 50px;
    text-decoration: none;
    color: #841844;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    box-sizing: border-box
}

.pagin__item_active {
    display: inline-block;
    margin-right: 16px;
    padding: 16px 23px;
    border: 2px solid #841844;
    background-color: #841844;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    box-sizing: border-box
}

.pagin__last-item {
    display: inline-block;
    width: 25px;
    height: 23px;
    padding: 16px 41px;
    background: url("../img/default_arrow.svg") no-repeat center;
    border: 2px solid #841844;
    border-radius: 50px;
}

.pagin__first-item {
    margin-right: 16px;
    display: inline-block;
    width: 25px;
    height: 23px;
    padding: 16px 41px;
    background: url("../img/default_arrow.svg") no-repeat center;
    border: 2px solid #841844;
    border-radius: 50px;
    transform: scaleX(-1);
}

.content-border {
    width: 100%;
    border: 1px solid #6C6E7B;
    position: absolute;
    box-sizing: border-box;
}

.footer .wrapper {
    position: relative;
}

.footer__text {
    padding: 63px 0px 84px 0px;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
}

/* ===================================================================== */

.main-show {
    margin-top: 72px;
}

.main__page-path {
    margin-bottom: 21px;
}

.main__page-path p {
    display: inline;
    color: #BBBBBB;
}

.main__new--title {
    margin-bottom: 63px;
}

.new-block {
    margin-bottom: 40px;
    display: flex;
}

.new-block__info {
    flex: 1;
    padding-right: 40px;
}

.new-block--announce {
    margin-bottom: 40px;
}

.new-block--text {
    font-size: 20px;
    line-height: 160%;
}

.new-block--text p:not(:last-child) {
    margin-bottom: 22px;
}

.new-block__image {
    flex: 1;
}

.new-block__image img {
    max-width: 100%;
}

a.main__back-button {
    display: inline-flex;
    margin-bottom: 137px;
}

a.main__back-button::before {
    margin-right: 10px;
    display: inline-block;
    width: 30px;
    height: 22px;
    content: "";
    background: url("../img/default_arrow.svg") no-repeat center center;
    background-size: contain;
    transform: scaleX(-1);
}

a.main__back-button:hover {
    color: #fff;
    background-color: #841844;
    transition: all 0.2s ease-out;
}

a.main__back-button:hover::before {
    background: url("../img/active_arrow.svg") no-repeat center center;
}

@media(max-width: 1600px) {

    .header__container {
        padding: 40px 30px;
    }

    .last-new__text,
    .main__news-board,
    .footer,
    .main-show {
        padding: 0px 30px;
    }

}

@media(max-width: 1400px) {
    .main-show {
        padding: 0px 30px;
    }

    .new-block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .new-block__image {
        margin: 50px 0px;
    }

    .main__back-button_container {
        text-align: center;
    }
}

@media(max-width: 1000px) {

    .news-board__container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }

    .main__news-board {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}

@media(max-width: 800px) {
    .header__container {
        justify-content: center;
    }

    .footer__text {
        text-align: center;
    }
}